<div class="content-section implementation">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>

  <h3 class="first">Default</h3>
  <p-tabView>
    <p-tabPanel header="Companies" leftIcon="pi pi-stats">
      <!--<app-company-list></app-company-list>-->
      <app-company-picklist></app-company-picklist>
    </p-tabPanel>
    <p-tabPanel header="Params" rightIcon="pi pi-inbox">
      <!--<app-params-list></app-params-list>-->
      <app-params-picklist></app-params-picklist>
    </p-tabPanel>
  </p-tabView>
</div>
