<app-company-save (onSaveCompanyListEvent)="onSaveCompanyList()"></app-company-save>
<app-company-edit (onSaveEvent)="onSave($event)"></app-company-edit>
<app-company-list (onSaveEvent)="onSaveCompanyList($event)"></app-company-list>
<!--<p-fileUpload #fubauto mode="basic"-->
              <!--customUpload="true"-->
              <!--accept=".xlsx, .xls, application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"-->
              <!--maxFileSize="1000000"-->
              <!--(uploadHandler)="selectFile($event)"-->
              <!--auto="true" chooseLabel="Browse"></p-fileUpload>-->
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

<button type="button" class="btn btn-success btn-s"
        (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length" >
  Upload an Image
</button>
<p-pickList [source]="source" [target]="target" sourceHeader="Список компаний" targetHeader="Список выбранных компаний"
            dragdrop="true"
            dragdropScope="companies"
            [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
            filterBy="name,INN"
            sourceFilterPlaceholder="Поиск по названию и ИНН" targetFilterPlaceholder="Поиск по названию и ИНН">
  <ng-template let-company pTemplate="item">
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-edit" class="ui-button-success" style="float:right;margin: 5px 0 0 0"
              (click)="onEditCompany(company)">
      </button>
    </div>
    <div>
      <button pButton icon="fa fa-trash" style="float:right;margin: 5px 0 0 0" class="ui-button-danger "
              (click)="onDelete(company)">
      </button>
    </div>
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>ID:</b> {{company.id}}</div>
    </div>
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>Название:</b> {{company.descr}}</div>
    </div>
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>ИНН:</b> {{company.INN}}</div>
    </div>
  </ng-template>

</p-pickList>
<footer>

  <div class="ui-helper-clearfix" style="width:100%">
    <button type="button" pButton icon="fa fa-save" style="float:right;margin: 5px 0px 5px 5px "
            (click)="showSaveModal(target)" label="Сохранить список компаний">
    </button>
    <button type="button" pButton icon="fa fa-save" style="float:right;margin: 5px 0px 5px 5px "
            (click)="showCompanyList()" label="Списки компаний">
    </button>
  </div>
  <div class="ui-helper-clearfix" style="width:100%">
    <button type="button" pButton icon="fa fa-calculator" style="float:right"
            (click)="calculate()" label="Рассчитать">
    </button>
  </div>
</footer>

<p-toast position="top-right">
  <ng-template let-message pTemplate="message">
    <div style="text-align:center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h4>{{message.summary}}</h4>
      <p>{{message.detail}}</p>
    </div>
  </ng-template>
</p-toast>
