<h3>Список моделей</h3>
<p-table #dt [columns]="cols" [value]="models" [paginator]="true" [rows]="10"
         selectionMode="single" [(selection)]="selectedModel" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="caption">
    <div style="text-align: left">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Поиск по названию, ID"
             (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      <button type="button" pButton icon="fas fa-plus" style="margin: 5px 5px 5px 5px"
              (click)="newModel()" label="Создать модель">
      </button>

    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <p-confirmDialog icon="pi pi-exclamation-triangle" width="425" [closeOnEscape]="true">
    </p-confirmDialog>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns" [ngSwitch]="col.field">
        <p-button *ngSwitchCase="'descr'" icon="fa fa-copy" style="float: left; margin: 5px 5px 5px 5px"
                  styleClass="ui-button-info"
                  (click)="onCopyModel(rowData)"></p-button>
        <p-button *ngSwitchCase="'descr'" icon="fa fa-trash" style="float: left; margin: 5px 10px 5px 5px"
                  styleClass="ui-button-danger "
                  (click)="onDeleteModel(rowData)"></p-button>

          {{rowData[col.field]}}

      </td>
    </tr>
  </ng-template>

</p-table>
<footer>

</footer>
<tree-diagram></tree-diagram>
<app-model-edit (onSaveEvent)="onSaveModel($event)"></app-model-edit>
