<div class="line-to"></div>
<div id="tree-node-{{node.guid}}"
     [ngClass]="{'tree-element-container': !0, 'tree-element-has-children': node.hasChildren()}"
     [style.width.px]="node.width"
     [style.height.px]="node.height"
>
  <div [ngClass]="{
    'tree-element-main': !0,
    'dragover': node.isDragover,
    'expanded': node.isExpanded,
    'dragging': node.isDragging,
    'tree-new-node': node.isMaker
    }"
       [attr.draggable]="node.isMaker ? null : 'true'"
       [style.width.px]="node.width"
       [style.height.px]="node.height"
       (drop)="node.drop($event)"
       (dragenter)="node.dragenter($event)"
       (dragstart)="node.dragstart($event)"
       (dragover)="node.dragover($event)"
       (dragend)="node.dragend($event)"
       (dragleave)="node.dragleave($event)"
  >
    <div class="rect"
         [style.width.px]="node.width"
         [style.height.px]="node.height"
    >
      <div class="buttons">
        <p-button type="button" icon="fa fa-info-circle" style="position: absolute;left: -10px;top: -10px;"
                  styleClass="ui-button-info"
                  (click)="node.edit()"></p-button>
        <p-button type="button" icon="fa fa-trash" style="position: absolute;right: -10px;top: -10px;"
                  styleClass="ui-button-danger"
                  (click)="node.destroy()"></p-button>
        <div class="toggler">
          <p-button type="button" icon="fa fa-arrow-circle-right" styleClass="ui-button-secondary"
                    (click)="node.toggle()"></p-button>
        </div>
        <p-button type="button" icon="fa fa-plus" style="position: absolute;right: -10px;bottom: -10px;"
                  styleClass="ui-button-success"
                  (click)="node.addChild()"></p-button>
      </div>
      <div class="tree-text tree-text-non-editable">
        <span>{{node.displayName}}</span>
      </div>
      <div class="tree-text tree-text-editable">
        <span #disaplyName contenteditable [innerHtml]="node.displayName"
              (blur)="node.displayName=$event.srcElement.innerText"></span>
        <span class="children-count"> ({{node.childrenCount()}})</span>
      </div>
    </div>
  </div>
  <div class="tree-children"
       [style.transform]="childrenTransform"
       *ngIf="node.isExpanded">
    <div class="tree-elements-group">
      <div *ngFor="let child of node.children"
           [treeDiagramNode]="child"
           class="tree-node tree-child">
      </div>
    </div>
  </div>
</div>
