
<nav *ngIf="authService.isLoggedIn()"
  class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light"
  role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
      <li class="active">
        <a [routerLink]="['/calculation']" class="navbar-brand"><i class="fa fa-calculator"></i> Расчёт</a>
      </li>
      <li>
        <a [routerLink]="['/results']" class="navbar-brand"><i class="fa fa-align-justify"></i> Результаты</a>
      </li>
      <li>
        <a [routerLink]="['/constructor']" class="navbar-brand"><i class="fas fa-boxes"></i> Конструктор</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a   routerLink="[/profile]" (click)="onProfile()" class="navbar-brand" role="button"><span *ngIf="true" class="fas fa-user"></span></a>
      </li>
      <li>
        <a routerLink="[/login]" class="navbar-brand" role="button" (click)="onLogout()">
          <span class="fas fa-sign-out-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
