<div *ngIf="showToggle"
     [style.display]="'block'"
     [style.background-color]="'rgba(0,0,0,0.4)'"
     class="modal" role="dialog" id="editRow">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-offset-2 col-xs-9">
          <h3 class="modal-title">Листовой индекс</h3>
        </div>
        <button pButton type="button" style="color:#ff0d20" class="close" data-dismiss="modal" icon="fa fa-close"
                aria-hidden="true" (click)="closeModal()">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulaForm" class="form-horizontal" method="post" id="detailsForm">
          <input type="text" hidden="hidden" id="id" name="id">

          <!--<div class="form-group row">-->
          <!--<label for="name" class="control-label col-xs-3">Descr</label>-->
          <!--<div class="col-xs-9">-->
          <!--<input formControlName="descr" type="text" class="form-control" id="descr" placeholder="Name">-->
          <!--</div>-->
          <!--</div>-->

          <div class="form-group">
            <label for="descr" class="control-label col-xs-3">Описание </label>
            <div class="col-xs-9">
              <input formControlName="descr" type="text" class="form-control" id="descr" name="name"
                     placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3">Формула для расчёта </label>
            <div class="col-xs-9">
              <!--<input formControlName="calculation" type="text" class="form-control" id="calculation" name="calculation"-->
              <!--placeholder="Calculation">-->
              <textarea class="form-control" name="calculation" formControlName="calculation" [rows]="5" [cols]="55"
                        pInputTextarea autoResize="autoResize" id="calculation"></textarea>

            </div>
          </div>
          <div class="form-group">
            <label for="formulaType" class="control-label col-xs-3">Тип </label>
            <div class="col-xs-9">
              <input formControlName="formulaType" type="text" class="form-control" id="formulaType" name="formulaType"
                     placeholder="Type">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-9">
              <label for="paramA" style="margin: 0 5px 0 5px " class="control-label col-xs-3">Параметр A</label>
              <p-dropdown id="paramA" [options]="normParams" formControlName="a" [autoWidth]="false"
                          editable="true" placeholder="Параметр А"></p-dropdown>

              <label for="paramB" style="margin: 0 5px 0 5px " class="control-label col-xs-3">Параметр B </label>
              <p-dropdown id="paramB" [options]="normParams" formControlName="b" [autoWidth]="false"
                          editable="true" placeholder="Параметр B"></p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-9">

              <label for="paramC" style="margin: 0 5px 0 5px " class="control-label col-xs-3">Параметр С </label>
              <p-dropdown id="paramC" [options]="normParams" formControlName="c" [autoWidth]="false"
                          editable="true" placeholder="Параметр C"></p-dropdown>
              <label for="paramD" style="margin: 0 5px 0 5px " class="control-label col-xs-3">Параметр D </label>
              <p-dropdown id="paramD" [options]="normParams" formControlName="d" [autoWidth]="false"
                          editable="true" placeholder="Параметр D"></p-dropdown>   <!--</div>-->
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-9">
              <label for="paramXB" style="margin: 0 5px 0 5px " class="control-label col-xs-3">Параметр XB </label>
              <p-dropdown id="paramXB" class="control-label col-xs-3" [options]="normParams" formControlName="xb"
                          [autoWidth]="false"
                          editable="true" placeholder="Параметр XB"></p-dropdown>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-9">
              <label for="comments" class="control-label col-xs-3">Комментарии </label>

              <input formControlName="comments" type="text" class="form-control" id="comments" name="comments"
                     placeholder="">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button"
                [disabled]="!formulaForm.valid"
                class="btn btn-primary" (click)="onSaveFormula()">Сохранить
        </button>
      </div>

    </div>
  </div>
</div>
