<div class="jumbotron">
    <div class="container">

        <div class="shadow">
            <h3>{{'params.title' }}</h3>


            <div class="view-box">
                <p-dataTable [value]="paramsHolder | async" (onRowSelect)="onEdit($event)" selectionMode="single"
                             [paginator]="true" rows="10" [responsive]="true">
                    <p-column field="name" [sortable]="true" header="{{'params.name' }}"
                              [filter]="true"></p-column>

                    <p-column [style]="{'width':'120px'}">
                        <!--<template pTemplate type="header">-->
                        <!--{{'common.delete' }}-->
                        <!--</template>-->
                        <ng-template pTemplate type="body" let-params="rowData">
                            <button pButton style="float:left" (click)="onDelete(params)"
                                    label="Delete">Delete</button>
                        </ng-template>
                    </p-column>
                </p-dataTable>
              <footer>
                <div class="ui-helper-clearfix" style="width:100%">
                  <button type="button" pButton icon="fa-plus" style="float:right"
                          (click)="showCreateModal()" label="Add">Add</button>
                </div>
              </footer>
            </div>
        </div>
    </div>
</div>
<app-params-edit (onSaveEvent)="onSave($event)"></app-params-edit>
