<div *ngIf="showToggle"
     [style.display]="'block'"
     [style.background-color]="'rgba(0,0,0,0.4)'"
     class="modal" role="dialog" id="editRow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-xs-offset-2 col-xs-9">
          <h2 class="modal-title">Изменение промежуточного индекса</h2>
        </div>
        <button pButton type="button" style="color:#ff0d20" class="close" data-dismiss="modal" icon="fa fa-close"
                aria-hidden="true" (click)="closeModal()">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="modelcalcForm" class="form-horizontal" method="post" id="detailsForm">
          <input type="text" hidden="hidden" id="node" name="node">

          <div class="form-group row">
            <label for="descr" class="control-label col-xs-3">Название</label>
            <div class="col-xs-9">
              <input formControlName="descr" type="text" class="form-control" id="descr" placeholder="Name">
            </div>
          </div>
          <div class="form-group row">
            <label for="weight" class="control-label col-xs-3">Вес</label>
            <div class="col-xs-9">
              <input formControlName="weight" type="text" class="form-control" id="weight" placeholder="0..100">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-9">
            <button type="button"
                    [disabled]="!modelcalcForm.valid"
                    class="btn btn-primary" (click)="onSaveModelcalc()">Сохранить
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

