<app-company-save (onSaveCompanyListEvent)="onSaveCompanyList()"></app-company-save>
<app-company-edit (onSaveEvent)="onSave($event)"></app-company-edit>
<app-company-list (onSaveEvent)="onSaveCompanyList($event)"></app-company-list>
<app-company-data></app-company-data>


<div *ngIf="displayTopBar">
  <p-progressBar [value]="loadValue"></p-progressBar>
</div>
<div class="ui-g-12 ui-md-12">
  <input
    style="display: none"
    type="file" (change)="uploadFile($event)"
    #fileInput>
  <p-button type="button"
            icon="fa fa-download" style="margin: 5px 5px 5px 5px "
            (onClick)="fileInput.click()"
            label="Импорт из Excel"></p-button>
  <button type="button" pButton icon="fa fa-calculator" style="margin: 5px 5px 5px 5px "
          (click)="calculate()" label="Рассчитать">
  </button>
  <button type="button" pButton icon="fa fa-save" style="margin: 5px 5px 5px 5px "
          (click)="showCompanyList()" label="Списки компаний">
  </button>
</div>
<p-pickList [source]="source" [target]="target" sourceHeader="Список компаний"
            targetHeader="Список выбранных компаний"
            dragdrop="true"
            dragdropScope="companies"
            [showSourceControls]="false"
            [showTargetControls]="false"
            [responsive]="true"
            [sourceStyle]="{'height':'300px'}"
            [targetStyle]="{'height':'300px'}"
            styleClass="marg"
            filterBy="name,INN"
            sourceFilterPlaceholder="Поиск по названию и ИНН" targetFilterPlaceholder="Поиск по названию и ИНН">
  <ng-template let-company pTemplate="item">

    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>ИНН:</b> {{company.id}}</div>
      <button pButton icon="fa fa-trash" style="float:right;margin: 5px 5px 5px 5px" class="ui-button-danger "
              (click)="onDelete(company)">
      </button>
      <button type="button" pButton icon="fa fa-edit" class="ui-button-success"
              style="float:right;margin: 5px 5px 5px 5px"
              (click)="onEditCompany(company)">
      </button>
      <button type="button" pButton icon="fa fa-info" class="ui-button-primary"
              style="float:right;margin: 5px 5px 5px 5px"
              (click)="onGetCompanyData(company)">
      </button>
    </div>
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>Название:</b> {{company.descr}}</div>
    </div>
    <!--<div class="ui-helper-clearfix">-->
    <!--<div style="font-size:14px;float:left;margin:15px 5px 0 0"><b>ИНН:</b> {{company.inn}}</div>-->
    <!--</div>-->
  </ng-template>

</p-pickList>
<footer>
  <div class="ui-helper-clearfix">
    <button type="button" pButton icon="fa fa-save" style="float:right;margin: 5px 5px 5px 5px "
            (click)="showSaveModal(target)" label="Сохранить список компаний">
    </button>
  </div>
</footer>

<p-toast position="top-right">
  <ng-template let-message pTemplate="message">
    <div style="text-align:center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h4>{{message.summary}}</h4>
      <p>{{message.detail}}</p>
    </div>
  </ng-template>
</p-toast>
