<p-dialog header="Изменение формулы" [(visible)]="showToggle"
          [modal]="true" [width]="500" [maximizable]="true">
  <div class="modal-body" class="ui-dialog-content">
    <form [formGroup]="formulaForm" class="form-horizontal" method="post" id="detailsForm">
      <input type="text" hidden="hidden" id="id" name="id">

      <!--<div class="form-group row">-->
        <!--<label for="name" class="control-label col-xs-3">Descr</label>-->
        <!--<div class="col-xs-9">-->
          <!--<input formControlName="descr" type="text" class="form-control" id="descr" placeholder="Name">-->
        <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <label for="descr" class="control-label col-xs-3">Descr</label>
        <div class="col-xs-9">
          <input formControlName="descr" type="text" class="form-control" id="descr" name="name"
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="calculation" class="control-label col-xs-3">Calculation</label>
        <div class="col-xs-9">
          <input formControlName="calculation" type="text" class="form-control" id="calculation" name="calculation"
                 placeholder="Calculation">
        </div>
      </div>
      <div class="form-group">
        <label for="formulaType" class="control-label col-xs-3">Formula Type</label>
        <div class="col-xs-9">
          <input formControlName="formulaType" type="text" class="form-control" id="formulaType" name="formulaType"
                 placeholder="Type">
        </div>
      </div>
      <div class="form-group">
        <label for="paramA" class="control-label col-xs-3">paramA</label>
        <div class="col-xs-9">
          <input formControlName="a" type="text" class="form-control" id="paramA" name="paramA"
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="paramB" class="control-label col-xs-3">paramB</label>
        <div class="col-xs-9">
          <input formControlName="b" type="text" class="form-control" id="paramB" name="paramB"
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="paramC" class="control-label col-xs-3">paramC</label>
        <div class="col-xs-9">
          <input formControlName="c" type="text" class="form-control" id="paramC" name="paramC"
                 placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="paramD" class="control-label col-xs-3">paramD</label>
        <div class="col-xs-9">
          <input formControlName="d" type="text" class="form-control" id="paramD" name="paramD"
                 placeholder="D">
        </div>
      </div>
      <div class="form-group">
        <label for="paramXB" class="control-label col-xs-3">paramXB</label>
        <div class="col-xs-9">
          <input formControlName="xb" type="text" class="form-control" id="paramXB" name="paramXB"
                 placeholder="XB">
        </div>
      </div>
      <div class="form-group">
        <label for="comments" class="control-label col-xs-3">Comments</label>
        <div class="col-xs-9">
          <input formControlName="comments" type="text" class="form-control" id="comments" name="comments"
                 placeholder="">
        </div>
      </div>
      <p-footer>
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-9">
            <button type="button"
                    [disabled]="!formulaForm.valid"
                    class="btn btn-primary" (click)="onSaveFormula()">Сохранить
            </button>
          </div>
        </div>
      </p-footer>
    </form>
  </div>
</p-dialog>
