<!--<p-toast [style]="{marginTop: '80px'}"></p-toast>-->
<!---->
<!--<h3 class="first">Сервис</h3>-->
<!--<p-tabMenu [model]="items">-->

  <!--<p-tabView>-->
    <!--<p-tabPanel header="Расчёт" leftIcon="fa fa-money">-->
      <!--<app-company-picklist></app-company-picklist>-->
    <!--</p-tabPanel>-->
    <!--<p-tabPanel header="Результаты" rightIcon="pi pi-inbox">-->
      <!--<app-tableName></app-tableName>-->
    <!--</p-tabPanel>-->
    <!--<p-tabPanel header="Конструктор" rightIcon="pi pi-inbox">-->
      <!--<app-models-list></app-models-list>-->
    <!--</p-tabPanel>-->
  <!--</p-tabView>-->
