<app-formula-edit #formulaChild (onSaveEvent)="onSaveFormula($event)" ></app-formula-edit>
<app-model-edit #modelChild (onSaveEvent)="onSaveModel($event)" ></app-model-edit>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<div   class="tree-pane"
     (mousedown)="onmousedown($event)"
     (mouseup)="onmouseup($event)"
     (mousemove)="onmousemove($event)"
     (mousewheel)="onmousewheel($event)"
>

  <div *ngIf="(modelsLoaded | async)"
            class="tree-paning-container"
            [style.transform]="paneTransform"
    >
      <div *ngIf="nodes"
             class="tree-roots-elements"

        >

            <div [treeDiagramNode]="node.guid"
                 class="tree-root tree-node"
                 (mousedown)="preventMouse($event)"
                 *ngFor="let node of nodes.roots"
            ></div>
            <div [treeDiagramNode]="nodeMaker"
                 (click)="newNode()"
                 (mousedown)="preventMouse($event)"
                 class="tree-root tree-new-node tree-node"
            ></div>
        </div>
    </div>
  <p-toast ></p-toast>
</div>



