
<div *ngIf="showToggle"
     [style.display]="'block'"
     [style.background-color]="'rgba(0,0,0,0.4)'"
     class="modal" role="dialog" id="editRow">
  <app-choose #chooseChild (onChooseAgr)="onChooseAgr()" (onChooseFormula)="onChooseFormula()"></app-choose>
  <app-formula-edit #formulaChild (onSaveEvent)="onSaveFormula($event)"></app-formula-edit>
  <app-rule-edit #ruleChild (onSaveEvent)="onSaveRule($event)"></app-rule-edit>
  <app-model-edit #modelChild (onSaveEvent)="onSaveModel($event)"></app-model-edit>
  <app-modelcalc-edit #modelCalcChild (onSaveEvent)="onSaveModelCalc($event)"></app-modelcalc-edit>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Конструктор</h2>

        <button pButton type="button" style="color:#ff0d20" class="close" data-dismiss="modal" icon="fa fa-close"
                aria-hidden="true" (click)="closeModal()">
        </button>
      </div>
      <div class="modal-body">

        <p-confirmDialog icon="pi pi-exclamation-triangle" width="425" [closeOnEscape]="true">
        </p-confirmDialog>
        <p-toast position="top-right">
          <ng-template let-message pTemplate="message">
            <div style="text-align:center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
            </div>
          </ng-template>
        </p-toast>
      <div class="tree-pane" *ngIf="(modelsLoaded | async)"
     (mousedown)="onmousedown($event)"
     (mouseup)="onmouseup($event)"
     (mousemove)="onmousemove($event)"
     (mousewheel)="onmousewheel($event)"
>

  <div
    class="tree-paning-container"
    [style.transform]="paneTransform"
  >
    <div *ngIf="nodes"
         class="tree-roots-elements"

    >

      <div [treeDiagramNode]="node.guid"
           class="tree-root tree-node"
           (mousedown)="preventMouse($event)"
           *ngFor="let node of nodes.roots"
      ></div>
      <div [treeDiagramNode]="nodeMaker"
           (click)="newNode()"
           (mousedown)="preventMouse($event)"
           class="tree-root tree-new-node tree-node"
      ></div>
    </div>
  </div>
  </div>

</div>
      <div class="modal-footer">
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-9">
            <button type="button" pButton icon="fa fa-save" style="float: right;"
                    (click)="saveChanges(updatedNodes)" label="Сохранить">
            </button>
          </div>
        </div>
      </div>
</div>
</div>

</div>



