<app-formula-edit #formulaChild (onSaveEvent)="onSaveFormula($event)"></app-formula-edit>
<app-rule-edit #ruleChild (onSaveEvent)="onSaveRule($event)"></app-rule-edit>
<app-model-edit #modelChild (onSaveEvent)="onSaveModel($event)"></app-model-edit>
<app-modelcalc-edit #modelCalcChild (onSaveEvent)="onSaveModelCalc($event)"></app-modelcalc-edit>
<app-choose #chooseChild (onChooseAgr)="onChooseAgr()" (onChooseFormula)="onChooseFormula()"></app-choose>
<p-confirmDialog icon="pi pi-exclamation-triangle" width="425" [closeOnEscape]="true">
</p-confirmDialog>
<div class="tree-pane"
     (mousedown)="onmousedown($event)"
     (mouseup)="onmouseup($event)"
     (mousemove)="onmousemove($event)"
     (mousewheel)="onmousewheel($event)"
>

  <div
    class="tree-paning-container"
    [style.transform]="paneTransform"
  >
    <div *ngIf="nodes"
         class="tree-roots-elements"

    >

      <div [treeDiagramNode]="node.guid"
           class="tree-root tree-node"
           (mousedown)="preventMouse($event)"
           *ngFor="let node of nodes.roots"
      ></div>
      <div [treeDiagramNode]="nodeMaker"
           (click)="newNode()"
           (mousedown)="preventMouse($event)"
           class="tree-root tree-new-node tree-node"
      ></div>
    </div>
  </div>
  <footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa fa-save" style="float:right"
              (click)="saveChanges(updatedNodes)" label="Сохранить">
      </button>
    </div>
  </footer>
  <p-toast position="top-right">
    <ng-template let-message pTemplate="message">
      <div style="text-align:center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
    </ng-template>
  </p-toast>
</div>



